@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gray: #f1f5f9;
}

* {
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: var(--gray);
}

button {
  cursor: pointer;
  border: 0;
}

a {
  text-decoration: none;
}
